/*Universal style*/

body{
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 18px;
}

html{
  font-size: 18px;
}

 *{
  box-sizing: border-box;
}

.container{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

h1{
  font-size: 3.5vw;
  font-weight: 700;
  line-height:1.4;
}

h3{
  font-size: 2.5vw;
  line-height: 1.2;
  font-weight: 700;
}

h4{
  font-size: 2vw;
  line-height: 1.2;
  font-weight: 700;
}

p{
  line-height: 1.4;
  font-size:  2vw;
}

a{
  font-size: calc(2vw - 0.5vw);
  line-height: 1.4;
}

.quote{
  width: 100%;
  height: 40%;
  padding-right: 1.33rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.visual{
  width: 60%;
  height:auto;
  margin:1.778rem 1.334rem;
  display: flex;
  flex-direction: column;
}

.text{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item{
  width: 100%;
  display:flex;
  flex-direction: column;
}

.aside{
  background-color: rgb(177, 192, 205);
  background-clip: content-box;
  padding: 0 0 0.889rem 0.889rem;
  width: 100%;
  display: flex;
  transition: all 350ms ease-out 150ms;
}

.aside:hover{
  background-color: rgb(110, 126, 160);
  color: rgb(243, 233, 205);
}

.aside h4{
   transition: all 350ms ease-out 150ms;
}

.aside:hover h4{
    color: rgb(243, 233, 205);
}

.image{
  margin: 0.889rem;
  width: 35%;
  height: auto;
}

.column{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.column h4{
  margin-bottom: 0.444rem;
  color: rgb(50, 75, 119);
}

.column p{
  margin-bottom: 0.444rem;
  padding-right: 0.889rem;
}

.column a{
  text-decoration: none;
  background-color: rgb(152, 123, 51);
  border-radius: 0.2778rem;
  padding: 0.444rem;
  color: rgb(243, 233, 205);
  transition: background-color 350ms ease-out 150ms;
}

.column a:visited{
  color: rgb(243, 233, 205);
}

.column a:hover{
  background-color: rgb(56, 72, 87);
}

img{
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px){
  a{
    font-size: 2vw;
  }
}

/*Header*/
header{
  width: 100%;
}

nav{
  width: 100%;
  height: 3.556rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 72, 87);
  border-bottom: 0.025rem solid rgba(9, 6, 0, 0.7);
  position: fixed;
  z-index: 1;
}

.logo{
  height: 1.777rem;
  display: flex;
  align-items: center;
  margin-left: 1.333rem;
  color: rgb(177, 192, 205);
  font-weight: 700;
}

.logo img{
  height: 1.777rem;
}

.logo p{
  text-transform: uppercase;
  font-family:"Nanum Gothic", sans-serif;
}

.logo span{
  color: rgb(255, 255, 255);
}

nav ul{
  margin-right: 1.333rem;
}

nav ul li{
  display: inline-block;
  padding-right: 0.8888rem;
}

nav ul li:last-child{
  padding-right: 0;
}

nav a{
  color: 	rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms linear 200ms;
}

nav a:visited{
  color: rgb(255, 255, 255);
}

nav a:hover{
color: rgb(152, 123, 51);
border-bottom: 0.2rem solid rgb(152, 123, 51);
}

#mobile{
  display: none;
}

@media only screen and (max-width:580px){
  #mobile{
    display: block;
  }

  #desktop{
    display: none;
  }

  #mobile ul{
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
}

/*Main banner*/
#banner{
  background-color: rgb(56, 72, 87);
  width: 100%;
  padding-top: 3.5556rem;
}

#banner .text{
  width: 40%;
  margin:1.778rem 1.333rem 1.778rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

#banner .size{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

#banner h1,
#banner h4{
  margin-bottom: 1.778rem;
  color: rgb(243, 233, 205);
}

#banner .btn{
  background-color: rgb(152, 123, 51);
  border-radius: 0.2777rem;
  color: rgb(243, 233, 205);
  width: 21.666vw;
  height: 1.89rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 350ms ease-out 150ms;
}

#banner .btn a{
  padding: 0.44rem 2.2rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(243, 233, 205);
}

#banner .btn a:hover{
  font-size: 1.3rem;
}

#banner .tablet{
  display: none;
}

@media only screen and (max-width: 768px){
#banner .desktop{
  display: none;
}

#banner .tablet{
  display: inline-block;
}

#banner .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  #banner .visual{
    width: 100%;
    height: auto;
    margin: 0;
  }

#banner .text{
  position: absolute;
  margin: 1.778rem;
  padding: 0.889rem;
  background-color:  rgb(56, 72, 87, 0.9);
}

#banner .size{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}

@media only screen and (max-width: 685px){
  #banner .btn{
    width: 45.666vw;
    height: 1.89rem;
}
}

@media only screen and (max-width: 580px){
  #banner .text{
    position: static;
    margin: 1.778rem 0;
    padding: 0;
    width: 100%;
  }

  #banner .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #banner .size{
    width: 100%;
  }

  #banner h1{
    font-size: 1.778rem;
    margin:0 0.889rem;
  }

  #banner h4{
    margin-bottom: 0 0.889rem 1.333rem 0.889rem;
    font-size: 1rem;
  }

  #banner a{
    font-size:0.889rem;
  }
}

/*Main section*/
main{
  width: 100%;
}

#news{
  background-color: rgb(253, 251, 247);
  width: 100%;
  height: auto;
}

#news .quote {
  margin: 1.778rem 0;
  }

#news .quote h3{
  margin-bottom: 1.333rem;
}

#down{
  padding-top: 2rem;
}

#news .item{
  margin: 1.778rem 0;
  height: 100%;
  justify-content: space-between;
}

#news .aside{
  flex-grow: 1;
  display: flex;
}

.mob {
  display: none;
}


@media only screen and (max-width: 1024px){
  #news .image{
    display:flex;
    align-items: center;
  }

  .mob {
    display: none;
  }

  #news p{
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 580px){
#none{
  display: none;
}

 .desk{
  display: none;
}

 .mob{
  display:block;
  max-width: 100%;
  }

#news .item{
  margin:0;
}

#news .text{
  width: 580px;
  display: flex;
  align-items: flex-start;
}

#news .aside{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex:1;
  padding:0;
  background-color: rgb(243, 233, 205);
}

#news .image{
  width: 90%;
  height:auto;
  overflow: hidden;
  display: flex;
  }

#news .column{
  padding: 1rem 1.778rem;
}

#news h4{
  font-size: 1.8rem;
}

#news p{
 font-size: 1.2rem;
}

#news a{
  font-size: 0.88rem;
}
}


/*Learning sub-section*/
#info{
  width: 100%;
  background-color: rgb(177, 192, 205);
}

#container-two{
  width: 100%;
  padding: 1.778rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.block{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.row{
  width: 100%;
  height: 46%;
  margin-bottom: 1.778rem;
  display: flex;
  flex-flow: row wrap;
}

.course{
  margin: 1.778rem 1.778rem 0 0;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-wrap: wrap;
  background-color: rgb(250, 250, 250);
  transition: all 1s ease-out 500ms;
}

.course:hover{
  background-color: rgb(110, 126, 160);
  }

.course:hover,
.course:focus{
  transform: scale(1.1);
}

.exception{
  margin-right: 0;
}

#info .pic{
  width: 100%;
  flex:1;
  margin: 0 auto;
  display: block;
}

.description{
  width: 100%;
  flex:2;
  padding-left: 0.889rem;
  display: flex;
  flex-direction: column;
}

.description h4{
  margin: 0.889rem 0 0.444rem 0;
}

.description span{
  margin: 0.444rem 0;
}

.description p{
  margin-bottom: 1.333rem;
}

#info .tablet{
  display: none;
}

@media only screen and (max-width: 768px){
  #info .tablet{
    display: inline-block;
  }

  #info .desktop{
    display: none;
  }
}

@media only screen and (max-width: 580px){
  #info .pic{
    display: none;
}

#info .description p{
  display: none;
}

#container-two{
  padding: 1.778rem 0.444rem;
}

.row{
  display: flex;
  flex-direction: column;
  margin:0;
}

.course{
  margin:0;
  background-color: rgb(177, 192, 205);
}

#info h3{
  margin-bottom: 0.889rem;
  font-size: 1.778rem;
}

#info .description h4{
  padding: 0.889rem 0.889rem 1.333rem 0.889rem;
  font-size: 1rem;
  margin: 0;
}

#info .description{
  margin-bottom: 0.444rem;
  background-color: rgb(250,250,250);
}

/*Thesis sub-section*/
#thesis{
  width: 100%;
  background-color: rgb(253, 251, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thesis h3{
  margin-top: 1.778rem;
}

#thesis .quote{
  margin-top: 1.33rem;
}

#thesis p{
  padding-top: 0.444rem;
}

#thesis .item{
  margin: 1.778rem 0 0 0;
  justify-content: flex-start;
}

#thesis .aside{
  height: 50%;
}

@media only screen and (max-width: 1024px){
  #thesis p{
    font-size: 1.8vw;
  }
}



/*Footer*/
footer{
  background-color: rgb(56, 72, 87);
  color: rgb(255, 255, 255);
  border-top: 0.025rem solid rgba(9, 6, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 5.3rem;
}

.copyright,
.terms,
.icons{
  padding: 0.889rem 1.333rem;
}

footer a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 0.889rem;
  font-size: 1.25vw;
}

.icons{
  display:flex;
}

.icons i{
  padding-left: 0.889rem;
}

footer .tablet{
  display: none;
}

@media only screen and (max-width: 1024px){
  footer p{
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 768px){
  footer .tablet{
    display: block;
  }

  footer .desktop{
    display: none;
  }
}
