body{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: left;
}

html{
  font-size: 18px;
}

 *{
  box-sizing: border-box;
 }

.container{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

h4{
  font-size: 1.444rem;
  line-height: 1.2;
  font-weight: 700;
}

h3{
  font-size: 1.556rem;
  line-height: 1.2;
  font-weight: 700;
}

p{
  line-height: 1.4;
}

/*Header*/
header{
  width: 100%;
}

nav{
  width: 100%;
  height: 3.556rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 72, 87);
  border-bottom: 0.025rem solid rgba(9, 6, 0, 0.7);
  position:fixed;
  z-index: 1;
}

.logo{
  height: 1.777rem;
  display: flex;
  align-items: center;
  margin-left: 1.333rem;
  padding: 0.3888rem;
  border-radius: 0.2777rem;
  color: rgb(177, 192, 205);
  font-weight: 700;

}

.logo img{
  height: 1.777rem;
  }

.logo p{
  text-transform: uppercase;
  font-size: 1rem;
  font-family:"Nanum Gothic", sans-serif;
  }

.logo span{
  color: rgb(255, 255, 255);
   }

nav ul{
  margin-right: 1.333rem;
}
nav ul li{
  display: inline-block;
  padding-right: 0.8888rem;
}

nav ul li:last-child{
  padding-right: 0;
}

nav a{
  color: rgb(253, 251, 247);
  text-decoration: none;
  text-transform:uppercase;
}

nav a:visited{
  color:rgb(243, 233, 205);
}

nav a:hover{
color: rgb(152, 123, 51);
}

/*Main banner*/
#banner{
  background-color: rgb(56, 72, 87);
  width: 100%;
  position: relative;
  top: 3.556rem;
  }

#banner .container{
  height: 30.39rem;
}

#banner .visual{
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:1.778rem 1.334rem;
  width: 60%;
  height:auto;
}

#banner .text{
  width: 40%;
  margin:1.778rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

#banner .size{
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-left: 1.334rem;
}

#banner h1{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.778rem;
  color: rgb(243, 233, 205);
  line-height: 1.4;
}

#banner h4{
  margin-bottom: 1.778rem;
  color: rgb(243, 233, 205);
}

#banner .btn{
  background-color: rgb(152, 123, 51);
  border-radius: 0.2777rem;
  color: rgb(243, 233, 205);
  font-size: 1rem;
  width: 17.6rem;
  height: 1.89rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .btn a{
  padding: 0.44rem 2.2rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(243, 233, 205);
}

#banner .btn a:visited{
  color: rgb(243, 233, 205);
}

#banner .btn:hover{
  background-color: rgba(152, 123, 51, 0.30);
}

/*Main section*/
section{
  position: relative;
  top: 3.556rem;
}

#news{
  background-color: rgb(253, 251, 247);
  width: 100%;
  }

#news .container{
  height: 37rem;
}

#news .visual{
  width: 60%;
  height:auto;
  margin:1.778rem 1.334rem;
  display: flex;
  flex-direction: column;
  }

#news .picture{
  width: 100%;
  height:60%;
  background-image: url("../images/information-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
   }

.quote{
  width: 100%;
  height: 40%;
  margin-top: 1.778rem;
  padding-right: 1.33rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

.quote h3{
margin-bottom: 1.33rem;
}

#distance{
position:relative;
bottom: 2rem;
}

#news .text{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

#news .item{
  margin: 1.778rem 0;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  }

#news .aside{
  background-color: rgb(177, 192, 205);
  background-clip: content-box;
  padding: 0.889rem 0 0.889rem 0.889rem;
  width: 100%;
  flex-grow: 1;
  display: flex;
  }

#news .aside:hover{
  background-color: rgb(110, 126, 160);
}

#news .image{
  margin: 0.889rem;
  width: 35%;
  height: auto;
}

#news .one,
#news .two,
#news .three{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#news .one{
  background-image: url("../images/information-orientation.jpg");
    }

#news .two{
  background-image: url("../images/information-campus.jpg");
    }

#news .three{
  background-image: url("../images/information-guest-lecture.jpg");
}

.column{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }

  .column h4{
    margin-bottom: 0.444rem;
    color: rgb(50, 75, 119);
}

.column p{
  margin-bottom: 0.444rem;
  padding-right: 0.889rem;
}

.column a{
  text-decoration: none;
  background-color: rgb(152, 123, 51);
  padding: 0.444rem;
  color: rgb(243, 233, 205);
}

.column a:visited{
  color: rgb(243, 233, 205);
}

.column a:hover{
  background-color: rgba(152, 123, 51, 0.30);
}

/*Learning sub-section*/
#info{
  width: 100%;
  height: 59.44rem;
  background-color: rgb(177, 192, 205);
  position: relative;
  }

 #container-two{
    width: 100%;
    height:59.44rem;
    padding: 1.778rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;;
  }

.block{
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.row{
  width: 100%;
  height: 46%;
  margin-bottom: 1.778rem;
  display: flex;
}

.course{
  height: 100%;
  width: 33.333%;
  margin: 1.778rem 1.778rem 0 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.course:hover{
  background-color: rgb(110, 126, 160);
  }

.exception{
  margin-right: 0;
}

#info .image{
background-image: url("../images/course-software.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 45%;
  }

#info .one{
  background-image: url("../images/course-software.jpg");
}

#info .two{
  background-image: url("../images/course-computer-art.jpg");
  }

#info .three{
  background-image: url("../images/course-design.jpg");
}

#info .four{
  background-image: url("../images/course-data.jpg");
}

#info .five{
  background-image: url("../images/course-business.jpg");
}

#info .six{
  background-image: url("../images/course-marketing.jpg");
}

.description{
  height: 55%;
  width: 80%;
  padding-left: 0.889rem;
  display: flex;
  flex-direction: column;
}

.description h4{
  margin: 0.889rem 0 0.444rem 0;
  font-weight: 700;
}

.description span{
  margin: 0.444rem 0;
}

.description p{
  margin-bottom: 1.333rem;
}

/*Thesis sub-section*/
#thesis{
  width: 100%;
  height: 44rem;
  background-color: rgb(253, 251, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thesis h3{
  margin: 1.778rem 0;
}
